@page "/platforms"
@inject IPlatformService PlatformService
@inject IAssetService AssetService
@using Front.Components
@using Front.Models
@using Front.Services
@using Tresorix.Contracts.Assets
@using Tresorix.Contracts.Platforms
@inject HttpClient Http

<PageTitle>Platforms</PageTitle>

<h1>Platforms</h1>

@if (_platforms == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <PlatformDetails Platforms="@_platforms.ToList()" OnLoadPlatformDetails="LoadPlatformDetails"></PlatformDetails>
    if (_selectedPlatform is not null)
    {
        <AssetDetails Assets="@_selectedPlatform.Assets"
                      OnSave="SaveAsset"
                      OnAdd="ToggleAddAsset"
                      NewAsset="@_newAsset"
                      IsAdding="@_isAddingAsset">
        </AssetDetails>
        <TransactionDetails Transactions="@_selectedPlatform.Transactions"></TransactionDetails>

        @if (_predictions is not null)
        {
            <PlatformPredictionDetails PlatformPredictions="@_predictions.ToList()"></PlatformPredictionDetails>
        }
    }
}

@code {
    private List<Front.Models.Platform>? _platforms;
    private Front.Models.Platform? _selectedPlatform;
    private List<PlatformPredictionResponse>? _predictions;
    private Front.Models.Asset _newAsset = new();
    private bool _isAddingAsset;

    protected override async Task OnInitializedAsync()
    {
        _platforms = await PlatformService.GetAllAsync();
    }

    private async Task LoadPlatformDetails(Front.Models.Platform platform)
    {
        var years = new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };

        var query = string.Join("&", years.Select(year => $"years={year}"));
        if (_selectedPlatform != null)
        {
            _predictions = await PlatformService.GetPredictionByPlatformId(_selectedPlatform.Id, query);
        }

        _selectedPlatform = platform;
    }

    private void ToggleAddAsset()
    {
        _isAddingAsset = !_isAddingAsset;
        _newAsset = new Front.Models.Asset();
    }

    private async Task SaveAsset()
    {
        if (string.IsNullOrEmpty(_newAsset.Name) || string.IsNullOrEmpty(_newAsset.Ticker))
            return;

        var newAssetCommand = new CreateNewAssetCommand
        {
            Name = _newAsset.Name,
            Ticker = _newAsset.Ticker,
            ActualValue = _newAsset.ActualValue,
            AverageYearlyPerformancePercent = _newAsset.AverageYearlyPerformancePercent,
            PlatformId = _selectedPlatform!.Id
        };
        var response = await Http.PostAsJsonAsync("api/Asset", newAssetCommand);
        if (response.IsSuccessStatusCode)
        {
            _selectedPlatform?.Assets.Add(_newAsset);
            ToggleAddAsset();
        }
    }

}