@using Tresorix.Contracts.Platforms
<h3>PlatformDetails</h3>


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>TotalWallet</th>
            <th>TotalInvestment</th>
            <td>TotalProfit</td>
            <td>PercentageProfit</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var platform in Platforms)
        {
            <tr @onclick="() => ToggleDetails(platform)">
                <td>@platform.Name</td>
                <td>@platform.TotalWallet</td>
                <td>@platform.TotalInvestment</td>
                <td>@platform.TotalProfit</td>
                <td>@platform.PercentageProfit</td>
            </tr>
        }
        </tbody>
    </table>

@code {
    [Parameter] public required List<PlatformResponse> Platforms { get; set; }
    [Parameter] public EventCallback<PlatformResponse> OnLoadPlatformDetails { get; set; }
    
    private async Task ToggleDetails(PlatformResponse platform)
    {
        if (OnLoadPlatformDetails.HasDelegate)
        {
            await OnLoadPlatformDetails.InvokeAsync(platform);
        }
    }
}